version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # Ignore local file dependencies - these are managed manually
      - dependency-name: "@grunnverk/github-tools"
      - dependency-name: "@grunnverk/git-tools"
